In [3]:
# To comment, use Ctrl+/ to comment multiple lines of code in Windows/Linux

print("Hello World!!!")

Hello World!!!

In [5]:
print("Hello world!\nHello world!\nHello world!")

Hello world!
Hello world!
Hello world!

In [11]:
print("Phoenix"+" "+"Arjuna")

Phoenix Arjuna

In [14]:
# Space between print and (). This is also correct.

print                            ("Hello, World")

Hello, World

In [15]:
print("Notes from Day 1")
print("The print statement is used to output strings")
print("Strings are strings of characters")
print("String Concatenation is done with the + sign")
print("New lines can be created with a \ and the letter n")

Notes from Day 1
The print statement is used to output strings
Strings are strings of characters
String Concatenation is done with the + sign
New lines can be created with a \ and the letter n

In [34]:
# Space between print and ()

print("Notes from Day 1")
print     ("The print statement is used to output strings")
print          ("Strings are strings of characters")
print              ("String Concatenation is done with the + sign")
print                                                                  ("New lines can be created with a \ and the letter n")

Notes from Day 1
The print statement is used to output strings
Strings are strings of characters
String Concatenation is done with the + sign
New lines can be created with a \ and the letter n

In [17]:
input("What is your name?")

What is your name? Venkat

'Venkat'

In [20]:
# Space between input and ()

input                            ("What is your name?")

What is your name? Ram

'Ram'

In [18]:
print("Hello " + input("What is your name?"))

What is your name? Venkat

Hello Venkat

In [19]:
print("Hello " + input("What is your name?") + "!")

What is your name? Venkat

Hello Venkat!

In [21]:
name = input("What is your name?")
print(name)

What is your name? Venkat

Venkat

In [24]:
age                                  =                   input("What is your age?")
print(age)

What is your age? 30

30

In [25]:
name = "Jack"
print(name)

name = "Angela"
print(name)

Jack
Angela

In [26]:
name = input("What is your name?")
print(len(name))

What is your name? abcdef

6

In [28]:
print(len(input("What is your name?")))

What is your name? Venkat

6

In [29]:
glass1 = "milk"
glass2 = "juice"


glass1 = "juice"
glass2 = "milk"
print(glass1)
print(glass2)

juice
milk

In [30]:
user name = "Venkat"
print(user name)

SyntaxError: invalid syntax (1223648292.py, line 1)

In [32]:
name = 'Venkat'
print(nama)

NameError: name 'nama' is not defined

In [41]:
# midnight is written as Midnight in print(),hence the error "name 'time_until_Midnight' is not defined"

time_until_midnight = "5"
print("There are " + time_until_Midnight + " hours until midnight")

NameError: name 'time_until_Midnight' is not defined

In [39]:
num_hours = "5"
print("There are " + num_hours + " hours until midnight")

There are 5 hours until midnight

In [40]:
time_until_midnight = "5"
print("There are " +time_until_midnight+ " hours until midnight")

There are 5 hours until midnight

In [45]:
# Day1 project 

print("Welcome to the Band Name Generator.")
city = input("Which city did you grow up in?\n")
pet = input("What is the name of a pet?\n")
print("Your band name could be:" +city+" " + pet)

Welcome to the Band Name Generator.

Which city did you grow up in?
 NYC
What is the name of a pet?
 Luke

Your band name could be:NYC Luke